$orange-accent: #ff6b21;
$orange-accent-darker: #A73800;
$orange-accent-lighter: #fe945f;
$cerulean: #0897d4;
$black-haze: #edeeee;
$atlantis: #85c42a;
$breaker-bay: #5f9ea0;
$breaker-bay-darker: #226D70;

$primary-color: $breaker-bay;
$primary-color-darker: $breaker-bay-darker;
$secondary-color: $orange-accent;
$secondary-color-accent: $orange-accent-darker;
$secondary-color-light-accent: $orange-accent-lighter;
$background-color: $black-haze;