html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'K2D', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 18px;
  font-weight: 400;
}

.flex-justify-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

audio {
  display: none;
}