/* Username chooser */
.buttons {
  margin-top: 10px;
}

.buttons > a {
  width: 100px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $primary-color;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
}

.buttons > a:hover {
  background-color: white;
  color: $primary-color;
}

.buttons > a[disabled],
.buttons > a[disabled]:hover {
  color: #ffffff33;
  border-color: #ffffff33;
  background-color: $primary-color;
  cursor: default;
}

input#username-input, input#add-group-input {
  width: 50%;
  text-align: center;
  align-self: center;
}

.error-message {
  color: $secondary-color-light-accent;
  font-weight: bold;
  margin: 10px 0 0;
  text-shadow: 0.5px 0.5px 1px #00000088;
}
/* End Username chooser */