html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'K2D', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
h2 {
    font-size: 18px;
    font-weight: 400;
}

.flex-justify-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header logo */
#logo {
    text-decoration: none;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #ff6b21;
}

header h1 > i {
    color: #333;
    font-size: 20px;
}

header h1 > span {
    color: #0897d4;
}
/* End Header logo */


/* Header layout */
header {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #edeeee;
}

/* End Header layout */

/* Navigation links */
nav {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    height: 40px;
}

.action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 0 15px;
    min-width: 30px;
    height: 50px;
    cursor: pointer;
}

.action-button:hover {
    color: #ff671b;
}

.action-button:hover, .action-button:focus, .action-button:visited {
    text-decoration: none;
}

.action-button > span.descriptor {
    margin-top: 5px;
}

.action-button > .user-name {
    color: #85c42a;
    white-space: nowrap;
}
/* End Navigation Links */


/* Main chat window */
main {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 20px 2px 2px;
    background-color: #edeeee;

    /* FIREFOX FLEXBOX OVERFLOW BUG */
    min-height: 0;
}


#chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#groups-list {
    width: 33%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

main .heading {
    border-right: #edeeee solid 1px;
    background-color: #5f9ea0;
    color: white;
    padding: 10px;
}

main .heading h2 {
    margin: 10px 0;
}
main .heading p {
    margin: 0;
}

/* End Chat window*/


/* Groups list specific */
#groups-list {
    background-color: white;
}
.icons i {
    margin: 0 5px;
}
.channels-container {
    padding: 25px 5px;
    overflow-y: auto;
}

.channel {
    background-color: #edeeee;
    padding: 5px;
    color: #4d8cc0;
    cursor: pointer;
    border-left: 4px solid transparent;
}

.channel.current {
    border-left: 4px solid #5f9ea0;
}

.channel.light {
    background-color: #f9f9f9;
}
.channel > i {
    color: #ff671b;
    padding: 10px 20px;
}
.channel:hover i:not(.action) {
    color: #A73800;
}
.channel:hover i.count {
    color: white;
}

.channel:hover {
    background-color: #dddddd;
}

.channel i.fa.fa-minus:hover {
    color: #A73800;
}
.channel i.fa.fa-plus {
    color: #5f9ea0;
}
.channel i.fa.fa-plus:hover {
    color: #226D70;
}
.default-badge {
    color: #49afde;
    border: solid 1px #49afde;
    margin-left: 10px;
    background-color: white;
    padding: 0 10px;
    font-style: italic;
    border-radius: 18px;
    font-weight: bold;
    font-size: 0.8em;
}

.notifs {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.notifs > i.fa.sized {
    font-size: 20px;
}

.notifs > i.count {
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    top: -5px;
    font-style: normal;
    right: -10px;
    position: absolute;
}

#add-group-button {
    cursor: pointer;
}
/* End Groups list specific */

/* Chat Window specific */
#chat-window {
    background-color: white;
}

.message-scroll {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    border-right: solid 1px #f1f1f1;
}

.message-bubble {
    min-width: 250px;
    margin: 20px;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 5px;
    word-break: break-word;
}

.message.other-user .message-bubble {
    background-color: #f1f0f0;
    text-align: left;
}
.message.other-user {
    align-self: flex-start;
}
.message.user {
    align-self: flex-end;
}
.message.user .message-bubble {
    background-color: #0295d3;
    color: white;
    text-align: right;
}

p.admin {
    text-align: center;
    color: gray;
    font-style: italic;
    margin-bottom: 0;
    word-break: break-word;
}

.timestamp {
    margin-top: 0;
    text-align: center;
    color: #333;
    font-style: italic;
}

.message.other-user>.timestamp {
    text-align: left;
    margin-left: 40px;
}

.message.user>.timestamp {
    text-align: right;
    margin-right: 40px;
}

.chat-actions-container {
    display: flex;
    flex-direction: row;
    border: solid 1px #f1f1f1;
}

input[name="message"] {
    flex: 1;
    border-color: transparent;
    margin: 1px 0;
    padding: 0 10px;
    border-left: solid 1px #f1f1f1;
    border-right: solid 1px #f1f1f1;
}
.like-button {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: cadetblue;
    border-right: solid 1px white;
}
.button {
    cursor: pointer;
    color: cadetblue;
    padding: 20px 0;
    width: 50px;
    text-align: center;
    display: inline-block;
    justify-self: flex-end;
}

.emoji-container {
    position: relative;
}

.emoji-list {
    position: absolute;
    background-color: white;
    border: solid 1px #f1f1f1;
    overflow-y: scroll;
    width: 250px;
    height: 150px;
    bottom: 60px;
}

.emoji {
    cursor: pointer;
    padding: 5px;
    margin: 2px;
    font-size: 22px;

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.hidden {
    visibility: hidden!important;
}
/* End Chat Window specific */


/* Username chooser */
.modal-container {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    padding: 20px 40px;
    width: 30%;
    min-width: 400px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #5f9ea0;
    color: white;
}

.buttons {
    margin-top: 10px;
}

.buttons > a {
    width: 100px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #5f9ea0;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
}

.buttons > a:hover {
    background-color: white;
    color: #5f9ea0;
}

.buttons > a[disabled],
.buttons > a[disabled]:hover {
    color: #ffffff33;
    border-color: #ffffff33;
    background-color: #5f9ea0;
    cursor: default;
}

input#username-input, input#add-group-input {
    width: 50%;
    text-align: center;
    align-self: center;
}

.error-message {
    color: #fe945f;
    font-weight: bold;
    margin: 10px 0 0;
    text-shadow: 0.5px 0.5px 1px #00000088;
}
/* End Username chooser */

/* Errors modal */
#errors-container .error-icon {
    font-size: 50px;
    color: #fe945f;
}

#errors-container .error-message {
    margin: 10px 0;
}

/* End error modal */


audio {
    display: none;
}